@import 'variables';

.gallery img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: $border-radius;

  transition: 0.5s;
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.5s;
  }
}

.project-gallery img {
  height: auto !important;
  &:hover {
    transform: unset;
  }
}

.desktop {
  display: block;
}
.mobile {
  display: none;
}

.close {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");
  color: white;
  position: absolute;
  padding: 25px;
  right: 0;
  top: 0;
  z-index: 1200;
  opacity: 0.8;
  margin: 5px;
  &:hover {
    opacity: 1;
  }
}

.modal-content {
  background-color: rgba(8, 29, 38, 0.5);
}
.slide,
.carousel-inner {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}
.carousel-item {
  width: 100%;
  height: 100%;
  justify-content: center;
}
.carousel-item img {
  transition: none;
  object-fit: contain;
  height: 100% !important;
  &:hover {
    transform: none;
    transition: none;
  }
}

@media (max-width: 600px) {
  .gallery img {
    height: 300px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
